html, body{
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
  
  }
  .img1{
      position: absolute;
      top: 694px;
      left: 30px;
  }
  .img2{
      position: absolute;
      top: 231px;
      left: 280px;
  }
  .img3{
      position: absolute;
      left: 926px;
  }
  
  main{
      margin-left: 9.5%;
      margin-right: 9.5%;
  }
  footer{
    padding-left: 12%;
    padding-right: 12%;
    background: #212121;
    letter-spacing: 0.5px;
  }
  .row h1{
    font-size:46px;
    line-height: 1;
    font-weight: 800;
  }
  .h-right a{
    font-size: 13.5px;
    font-weight:bold;
    letter-spacing: 0.25px;
  }
  main h1{
    letter-spacing: -2px;
    word-spacing:-2px;
  }
  .container-fruid{
    position: absolute;
  }
  .scroll_container{
    white-space: nowrap; 
  }
  .scroll_container .items{
    font-size: 13.5px;
    letter-spacing: 0.5px;
    border: #008294;
    color: white;
    background: #008294;
    padding: 14px 18px;
    border-radius: 40px;
    margin-right: 16px;
  }
  .items:hover{
    background: #0098ae;
  }
  .search{
    border: 1px solid #f65858;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background: #f65858;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 800;
  }
  .ivents p{
      padding-right: 280px;
      padding-left: 280px;
      padding-bottom: 40px;
    
  }
  .ivents a{
    letter-spacing: 0.5px;
    font-size: 19px;
    color: #008294;
    text-decoration: none;
  }
  .ivents a:hover{
    text-decoration: 2px underline;
    text-decoration-color: #008294 ;
  }
  .figure-caption{
    font-size: 13.5px;
    letter-spacing: 0.35px;
    color: black;
  }
  .join button{
    
    color: white;
    padding: 8px 15px 8px 15px;
    background: #008294;
    border: 0px;
    letter-spacing: 0.5px;
    border-radius: 8px;
  }
  .text{
    font-size: 30px;
    letter-spacing: 0.5px;
    
  }
  .title{
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .card-title a{
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 27px;
    text-decoration: none;
  }
  .card-title a:hover{
      text-decoration: 2px underline black;
  }
  .card-text{
    line-height: 1.5rem;
    letter-spacing: 0.75px;
  }
  .f-top{
    display: flex;
    border-bottom: 1px solid white;
  }
  .f-top p{
    margin-top: 33px ;
  }
  .start{
    font-size: 17.5px;
    letter-spacing: 0.3px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
  }
  .f-content{
    display: flex;
  }
  .f-content a{
    font-size: 13.75px;
    letter-spacing: 0.75px;
    color: #c5c4c4;
    line-height: 27px;
    
  }
  .icons svg{
   color: #d9d9d9;
  }
  .finish{
    font-size: 13.75px;
    letter-spacing: 0.75px;
  }
  .finish a{
    font-size: 13.75px;
    letter-spacing: 0.75px;
    color: #c5c4c4;
    
  }
  .align-self-end{
    padding-left: 250px;
  }
  /* search */
  .text_search{
    border: 0px ;
    margin: 6px 0px 7px 5px;
  }
  .text_search:focus{
    border: none;
    outline: none;
  }
  .location{
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: white;
    display: flex;
  }
  .location svg{
    color: #a2a2a2;
    margin: 10px 0px 10px 7px;
  }
  .group_card p{
    color:#877457 ;
    font-size: 14px;
    letter-spacing: -.025em;
    line-height: 1.25rem;
    font-weight: 500;
    
  }
  .group_card h5{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.25em;
  }
  .groups .col{
    height: 187px;
    border-radius: 7px;
  }
  .col-md a{
    text-decoration: none;
  }
  .col-md a:hover{
    text-decoration: 2px underline;
    text-decoration-color: #008294 ;
  }
  .figure-caption a{
    font-size: 15px;
    color: #008294;
    letter-spacing: 0.5px;
  }
  .owl-prev{
    position: absolute;
    top:60px;
    left:-15px;
  }
  .owl-prev span{
    padding: 4px 15px 8px 15px;
    border-radius: 20px;
    font-size: 23px;
    font-weight: bold;
    background: white;
    box-shadow: 0 2px 8px 0 #2e3e481f, 0 2px 4px 2px #2e3e481f;
   }
   .owl-prev span:hover{
     box-shadow:0 2px 12px 5px #2e3e481f, 0 2px 4px 0 #2e3e481f;
     outline-color: rgba(255, 255, 255, 0);
     outline-offset: 15px;
     text-shadow: 1px 1px 2px #427388; 
   }
  .owl-next{
    position: absolute;
    top:60px;
    right:0px;
  }
  .owl-next span{
   padding: 3px 14px 7px 14px;
   border-radius: 20px;
   font-size: 23px;
   font-weight: bold;
   background: white;
   box-shadow: 0 2px 8px 0 #2e3e481f, 0 2px 4px 2px #2e3e481f;
  }
  .owl-next span:hover{
    box-shadow:0 2px 12px 5px #2e3e481f, 0 2px 4px 0 #2e3e481f;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
  .item{
    height: 500px;
  }
  .avatar_1{
  position: absolute;
  left: 20px;
  }
  .avatar_2{
    position: absolute;
  left: 35px;
  }
  .avatar_3{
    position: absolute;
    left: 50px;
  }
  .online_event{
    background:#fff;
    position: absolute;
    top:23px;
    left: 6px;
    display: flex;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 5px;
    justify-content: center;
  }
.photo{
  background: #008294;
}
#txtsearch{
    border-radius: 8px 0px 0px 8px;
}
#txtlocation{
    border-radius: 0px;
    border-right: 0px;
}
.d-flex input{
    border-radius: 1px solid black;
}
.d-flex input:hover{
    border: 1px solid black;
}

.btn{
    height: 42px;
    background: #f65858;
    border-radius: 0px 8px 8px 0px;
}
.avatar{
    height: 48px;
    width: 48px;
}
.header{
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.photos{
    color:#1f24cc;
}
.photos a:hover{
    text-decoration: 1px underline #9ec4f1;
    color: #9ec4f1;
}
.list a{
    color:#737373;
}
.list a:hover{
    color:#1f24cc;
}