html, body{
  font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;

}
.img1{
    position: absolute;
    top: 694px;
    left: 30px;
}
.img2{
    position: absolute;
    top: 231px;
    left: 280px;
}
.img3{
    position: absolute;
    left: 926px;
}

main{
    margin-left: 9.5%;
    margin-right: 9.5%;
}
footer{
  padding-left: 12%;
  padding-right: 12%;
  background: #212121;
  letter-spacing: 0.5px;
}
.row h1{
  font-size:46px;
  line-height: 1;
  font-weight: 800;
}
.h-right a{
  font-size: 13.5px;
  font-weight:bold;
  letter-spacing: 0.25px;
}
main h1{
  letter-spacing: -2px;
  word-spacing:-2px;
}
.container-fruid{
  position: absolute;
}
.scroll_container{
  white-space: nowrap; 
}
.scroll_container .item{
  font-size: 13.5px;
  letter-spacing: 0.5px;
  border: #008294;
  color: white;
  background: #008294;
  padding: 14px 16px;
  border-radius: 40px;
  margin-right: 16px;
}
.item:hover{
  background: #0098ae;
}
.search{
  border: 1px solid #f65858;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background: #f65858;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 800;
}
.ivents p{
    padding-right: 280px;
    padding-left: 280px;
    padding-bottom: 40px;
  
}
.ivents a{
  letter-spacing: 0.5px;
  font-size: 19px;
  color: #008294;
  text-decoration: none;
}
.ivents a:hover{
  text-decoration: 2px underline;
  text-decoration-color: #008294 ;
}
.figure-caption{
  font-size: 13.5px;
  letter-spacing: 0.35px;
  color: black;
}
.join button{
  
  color: white;
  padding: 8px 15px 8px 15px;
  background: #008294;
  border: 0px;
  letter-spacing: 0.5px;
  border-radius: 8px;
}
.text{
  font-size: 30px;
  letter-spacing: 0.5px;
  
}
.title{
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  padding-left: 150px;
  padding-right: 150px;
}
.card-title a{
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 27px;
}
.card-text{
 
  letter-spacing: 0.5px;
}
.f-top{
  display: flex;
  border-bottom: 1px solid white;
}
.f-top p{
  margin-top: 33px ;
  
}
.start{
  font-size: 17.5px;
  letter-spacing: 0.3px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
}
.f-content{
  display: flex;
}
.f-content a{
  font-size: 13.75px;
  letter-spacing: 0.75px;
  color: #c5c4c4;
  line-height: 27px;
  
}
.icons svg{
 color: #d9d9d9;
}
.finish{
  font-size: 13.75px;
  letter-spacing: 0.75px;
}
.finish a{
  font-size: 13.75px;
  letter-spacing: 0.75px;
  color: #c5c4c4;
  
}
.align-self-end{
  padding-left: 250px;
}
/* search */
.text_search{
  border: 0px ;
  margin: 6px 0px 7px 5px;
}
.text_search:focus{
  border: none;
  outline: none;
}
.location{
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: white;
  display: flex;
}
.location svg{
  color: #a2a2a2;
  margin: 10px 0px 10px 7px;
}
